@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  "Montserrat",sans-serif;
    
}

.card {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1.5px solid #777;
    border-radius: 5px;
    color: #030555;
}
.boton {
    
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #056;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton:hover{
    color: black;
    font-weight: bold;

}

.boton::after{
    content: "";
    background-color: rgba(144, 177, 184, 0.651);
    position: absolute;
    z-index: -1;
    padding: 10px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.boton:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


#foto {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1.5px solid #777;
    border-radius: 5px;
    color: #030555;
}

/* estilos de unite */

.form__label{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 1.5rem;
}
.form__in{
    margin-left: 1rem;
    border-radius: 1rem;
    width: 150px;
    height: 40px;
}
.section__h3{
    text-align: center;
    margin-top: 1rem;
}

/* esta form__flex es reutilizable en CONTACTO y en UNITE */
.form__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}

.botones{
    gap: 1rem;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
}

/* formulario de CONTACTO */


form input[type="submit"], form input[type="reset"] {
    width: 110px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #cb1919;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
}

/* tienda */


.div{
    
    display: flex;
    justify-content: center;
}

.div__aside{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    align-items: flex-start;
    gap: 1rem;
}

.div__ul{
    padding-left: 1rem;
}

.active{
    font-weight: bold;
    color: #056;
}

.header__li{
    list-style: none;
    padding: 20px;
}

.header__a--16{
    /* color: black; */
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem;
    list-style: none;

}
.header__a--16:hover{
    cursor: pointer;
    font-weight: bold;
}

.figure__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
}

.section__div{
    justify-self: center;
    width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 8%);
}

.section__img--300{
    width: 100%;
    border-radius: 10px;
}

.section__img--50{
    width: 60px;
    border-radius: 10px;

}

.section__titulo{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Montserrat",sans-serif;
}

thead{
    font-size: 1rem;
    text-align: center;
}
.main__h2--55{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 5rem;
}

/* header */

.header__img{
    width: 140px;
    height: 140px;
    border: 1px;
    border-radius: 68px;
}
.header__ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.header__a{
    font-size: 1.2rem;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    text-shadow: 1px 1px black;
}
.header__a:hover{
    cursor: pointer;
    color: #056;
}
.slider{
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    margin-top: 40px;
}

.slider__ul{
    display: flex;
    width: 400%;
    padding: 0;
    animation: slider 16s infinite alternate linear;
}
.slider__li{
    list-style: none;
    width: 100%;
}
.slider__img{
    width: 100%;
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-content: center;
    background-color: black;
}

/* header carrito sobre el navbar */

.carrito{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: white;
}


/* wtpp */

.fijo__a{
    transition: .1s ease;
    padding: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    right: -108px;
    bottom: 25px;
    border-radius: 15px;
    width: 140px;
    background-color: #128C7E;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.fijo__a:hover{
    cursor: pointer;
    background-color: #000;
    color: white;
    transform: translateX(-100px);
    transition: .3s ease;
}
@keyframes slider {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -150%;}
    65%{margin-left: -150%;}

    70%{margin-left: -300%;}
    100%{margin-left: -300%;}

}
.altura{
    margin: 40%;
}

/* footer */

.footer{
    height: 300px;
    background-color: black;
}
.footer__p{
    font-size: 30px;
    font-family: "PT Serif", serif;
    color: white;
    height: 70px;
    min-width: 200px;
    text-align: center;
    padding-top: 28px;
}
.footer__p--20{
    font-size: 20px;
    font-family: "Playfair Display",serif;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.footer__nav{
    padding-left: 50px;
    padding-right: 50px;
}
.nav__redes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}
.nav__a{
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}
.footer__div{
    color: #fbfbfb82;
    width: 100%;
    padding-top: 20px;
}
.footer__final{
    font-size: 1rem;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.footer__hr{
    border-top: 1px solid white;
    opacity: unset;
    margin: 0rem 200px;
}
/* utilitarias */
.mg{
    margin-top: 3rem;
}
.btn__continuar{
    width: 200px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #000;
    font-weight: bold;
}
.marco{
    border: 2px solid rgb(136, 128, 128);
}
.borde{
    border-radius: 5px;
    border: #000 solid 1px;
    width: 30px;
}
.wd{
    width: 50px;
}
.w-auto{
    width: auto;
}


/* formulario */

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    height: 650px;
    padding: 10px;
}

form input {
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 0.8rem;
    padding: 1rem;
    outline: none;
    border-radius: 7px;
}

/* las media queries para mobile y tablet*/


@media screen and (max-width: 768px) {
    .carrito{
        right: 67vw;
    }
    .figure__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
    .div__aside{
        display: none;
    }
}
@media screen and (max-width: 320px){
    .header__img{
        width: 90px;
        height: 90px;
    }
    
    .carrito{
        right: 43vw;
    }
    .slider{
        height: auto;
    }
    .form{
        width: auto;
        height: auto;
        justify-content: none;
    }
    .w-50{
        width: auto!important;
    }
    .m-5{
        margin: auto!important;
    }
    .fontS{
        font-size: 0.7rem;
    }
    .main__h2--55 {
        padding: 3rem;
    }
}