@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
*{
    margin: 0;
    padding: 0;
    font-family:  "Montserrat",sans-serif;
    
}

.card {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1.5px solid #777;
    border-radius: 5px;
    color: #030555;
}
.boton {
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    background-color: #198754b3;
    color: #212529;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.boton:hover{
    color: white;

}

.boton::after{
    content: "";
    background-color: #1d4633b3;
    position: absolute;
    z-index: -1;
    padding: 10px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.boton:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


#foto {
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    height: 350px;
    border: 1.5px solid #777;
    border-radius: 5px;
    color: #030555;
}

/* estilos de unite */

.form__label{
    font-weight: bold;
    padding: 0.6rem;
}

.section__h3{
    text-align: center;
    margin-top: 1rem;
}

/* esta form__flex es reutilizable en CONTACTO y en UNITE */
.form__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem;
}

/* formulario de CONTACTO */


.form__input{
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 0.8rem;
    margin: 5px;
    padding: 1rem;
    outline: none;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.664);
}
form input[type="submit"], form input[type="reset"] {
    width: 110px;
    height: 40px;
    padding: 5px;
    color: white;
    background-color: #cb1919;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
}

/* tienda */


.div{
    
    display: flex;
    justify-content: center;
}

.div__aside{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.div__ul{
    padding-left: 0
}

.header__li{
    list-style: none;
    padding: 20px;
}

.header__a--16{
    color: brown;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}
.header__a--16:hover{
    text-decoration: underline 2px rgba(124, 57, 57, 0.527);
    font-weight: 200;
}

.figure__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.section__div{
    justify-self: center;
    width: 300px;
    margin: 20px;
    text-align: center;
}

.section__img--300{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    cursor: pointer
    
}

.section__img--50{
    width: 50%;
    height: 300px;
    border-radius: 10px;

}

.section__titulo{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Montserrat",sans-serif;
}

thead{
    font-size: 1rem;
    text-align: center;
}
.main__h2--55{
    font-family: 'PT Serif', serif;
    text-align: center;
    padding: 5rem;
}

/* header */

.header__img{
    width: 140px;
    height: 140px;
    border: 2px solid white;
}
.header__ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.header__a{
    font-size: 1.2rem;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    text-shadow: 1px 1px black;
}
.slider{
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    margin-top: 40px;
}

.slider__ul{
    display: flex;
    width: 400%;
    padding: 0;
    animation: slider 16s infinite alternate linear;
}
.slider__li{
    list-style: none;
    width: 100%;
}
.slider__img{
    width: 100%;
}

.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-content: center;
    background-color: black;
}

/* header carrito sobre el navbar */

.carrito{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: white;
}


/* wtpp */

.fijo__a{
    transition: .1s ease;
    padding: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    position: fixed;
    right: -100px;
    bottom: 25px;
    border-radius: 15px;
    width: 140px;
    background-color: #128C7E;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.fijo__a:hover{
    cursor: pointer;
    background-color: #000;
    color: white;
    transform: translateX(-100px);
    transition: .3s ease;
}
@keyframes slider {
    0%{margin-left: 0%;}
    30%{margin-left: 0%;}

    35%{margin-left: -150%;}
    65%{margin-left: -150%;}

    70%{margin-left: -300%;}
    100%{margin-left: -300%;}

}